[submodule "modules/custom/modules/custom/thomas_more_social_media_v2"]
	path = modules/custom/modules/custom/thomas_more_social_media_v2
	url = https://github.com/JTubex/thomas_more_social_media_v2.git
