body {
    background-color: #fde6c7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.field--name-field-title {
    font-size: 30px;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 768px) {
    .col-md-6 {
        width: 50%;
    }
}