body {
    background-color: #fde6c7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.field--name-field-title {
    font-size: 30px;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

#block-tatto-mainmenu .my-menu {
    margin-top: 25px;
    float: right;
}

#block-tatto-mainmenu .my-menu li {
    float: left;
}

#block-tatto-mainmenu .my-menu a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0 10px;
}

.site-name a {
    float: right;
    text-decoration: none;
    font-size: 2.5em;
    color: black;
}

.links li {
    text-decoration: none;
    list-style-type: none;
}

.language-link {
    text-decoration: none;
    color: black;
    list-style: none;
    list-style-type: none;
    visibility: hidden;
}

.field--name-title {
    text-decoration: none;
    font-size: 2.5em;
    color: black;
}

.field--name-title a {
    text-decoration: none;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.menu--footer {
    float: left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .col-md-6 {
        width: 50%;
    }
}