<div class="social-media">
  <a href="{{ facebook_url }}" class="facebook" target="_blank">
    <i class="fab fa-3x fa-facebook"></i>
  </a>
  <a href="https://plus.google.com/+Intractodigitalagency" class="google-plus" target="_blank">
    <i class="fab fa-3x fa-google-plus"></i>
  </a>
  <a href="https://twitter.com/intracto" class="twitter" target="_blank">
    <i class="fab fa-3x fa-twitter"></i>
  </a>
  <a href="https://www.linkedin.com/company/intracto-group-nv" class="linkedin" target="_blank">
    <i class="fab fa-3x fa-linkedin"></i>
  </a>
  <a href="https://foursquare.com/v/intracto/4bd72250637ba593b45cf970" class="foursquare" target="_blank">
    <i class="fab fa-3x fa-foursquare"></i>
  </a>
</div>